<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/styles.css">
  <head>

    {% block head %}
      <title>Class manager</title>
    {% endblock %}

  </head>
  <body>
    <header >
      <div class="links">
        <a href="/" class="link {{ teachersActive }}">Teachers</a>
        <a href="/students" class="link {{ studentsActive}}">Students</a>
      </div>
    </header>

    {% block content %}{% endblock %}

<script src="/scripts.js"></script>
  </body>
</html>